{% extends "base.html" %} {% load static %}

{% block content %}
  
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">

  <div class="card mx-auto bg-dark text-white" style="max-width: 18rem;">

    {% if circuito.foto %}
      <img src="{{ circuito.foto.url }}" class="card-img-top" alt="Foto de {{ circuito.nombre }}">
    {% else %}
      <img src="{% static 'img/no-image.jpg' %}" class="card-img-top" alt="Sin foto">
    {% endif %}

    <div class="card-body">
      <h4 class="card-title">{{ circuito.nombre }}</h4>

      <p class="card-text">
        <strong>País:</strong> {{ circuito.pais }} <br>
        <strong>Longitud (km):</strong> {{ circuito.longitud_km }} <br>
        <strong>Vueltas:</strong> {{ circuito.vueltas }} <br>
        <strong>Récord de Vuelta:</strong> {{ circuito.record_vuelta }} <br>
      </p>

      <div class="mt-3 d-flex justify-content-between">
        <a href="{% url 'circuitos:circuito_list' %}" class="btn btn-info btn-sm">Volver</a>
        <a href="{% url 'circuitos:circuito_update' circuito.id %}" class="btn btn-warning btn-sm">Editar</a>
        <a href="{% url 'circuitos:circuito_delete' circuito.id %}" class="btn btn-danger btn-sm">Eliminar</a>
      </div>

    </div>

   

  </div>
</div>
{% endblock content %}
