{% extends "base.html" %}

{% block content %}

<h2 class="ms-3 text-white">Lista de Circuitos</h2>

<!-- BUSCADOR -->
<form method="GET" class="mb-3 d-flex ms-3" role="search" style="max-width: 400px;">
    <input 
        type="text" 
        name="q" 
        class="form-control me-2" 
        placeholder="Buscar circuito..." 
        value="{{ q }}"
    >
    <button class="btn btn-danger">Buscar</button>
</form>

<!-- BOTÓN CREAR -->
<div class="mb-3 ms-3">
  <a href="{% url 'circuitos:circuito_create' %}" class="btn btn-primary">
    + Crear Circuito
  </a>
</div>

<!-- TABLA -->
<table class="table table-dark table-hover ms-3">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>País</th>
      <th>Longitud (km)</th>
      <th>Vueltas</th>
      <th>Récord de Vuelta</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    {% if circuitos %}
        {% for circuito in circuitos %}
          <tr>
            <td>{{ circuito.nombre }}</td>
            <td>{{ circuito.pais }}</td>
            <td>{{ circuito.longitud_km }}</td>
            <td>{{ circuito.vueltas }}</td>
            <td>{{ circuito.record_vuelta }}</td>
            
            <td>
              <a href="{% url 'circuitos:circuito_detail' circuito.id %}" class="btn btn-sm btn-info">Ver</a>
              <a href="{% url 'circuitos:circuito_update' circuito.id %}" class="btn btn-sm btn-warning">Editar</a>
              <a href="{% url 'circuitos:circuito_delete' circuito.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
    {% else %}
        <!-- SIN RESULTADOS -->
        <tr>
            <td colspan="6" class="text-center text-warning">
                No se encontraron circuitos para "<strong>{{ request.GET.q }}</strong>".
            </td>
        </tr>
    {% endif %}
  </tbody>
</table>

{% endblock content %}
